<section class="about">
    <div class="about__container container">
        <p class="about__text label-title">tradition and love</p>
        <h1 class="about__title primary-title">how it’s made?</h1>
    </div>
    <div class="cow container">
        <img src="./images/mild_and_cow.png" alt="Коровье молоко">
        <p class="cow__title">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
        <p class="com__title--secondary">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        <span>Aliquam erat volutpat. Aenean accumsan.</span></p>
        <button class="btn btn--white">Read more
            <svg class="btn-icon">
                <use href=""></use>
            </svg>
        </button>
    </div>
</section>
