<section class="advantages">
    <div class="container">
        <ul class="advantages-figures__list">
            <li class="advantages-figures__list">
                <p class="primary-title">721</p>
                <p class="about__title">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-figures__list">
                <p class="primary-title">16kg</p>
                <p class="about__title">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-figures__list">
                <p class="primary-title">84</p>
                <p class="about__title">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>