<section class="contacts">
    <div class="container contact">
        <h2 class="">Скрытый заголовок Contacts</h2>
        <ul class="">
            <li class="contact__iten">
                <div class="contact__post">
                    <p class="contact__text">CAFE</p>
                    <h2 class="contact__title">Chicago</h2>
                    <p class="contact__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contact__info">
                        <li class="contact__info__iten">
                            <p class="contact__info__iten__today"> Monday - Friday</p>
                            <p class="contact__info__iten__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__info__iten">
                            <p class="contact__info__iten__today">Saturday - Sunday</p>
                            <p class="contact__info__iten__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contact__adress">
                        <li>
                            <a class="contact__adress__iten" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contact__adress__iten" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contact__iten">
                <div class="contact__post">
                    <p class="contact__text__green">FOODTRUCK</p>
                    <h2 class="contact__title">Los Angeles</h2>
                    <p class="contact__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contact__info">
                        <li class="contact__info__iten">
                            <p class="contact__info__iten__today"> Monday - Friday</p>
                            <p class="contact__info__iten__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__info__iten">
                            <p class="contact__info__iten__today">Saturday - Sunday</p>
                            <p class="contact__info__iten__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contact__adress">
                        <li>
                            <a class="contact__adress__iten" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contact__adress__iten" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contact__iten">
                <div class="contact__post">
                    <p class="contact__text">CAFE</p>
                    <h2 class="contact__title">New York</h2>
                    <p class="contact__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contact__info">
                        <li class="contact__info__iten">
                            <p class="contact__info__iten__today"> Monday - Friday</p>
                            <p class="contact__info__iten__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__info__iten">
                            <p class="contact__info__iten__today">Saturday - Sunday</p>
                            <p class="contact__info__iten__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contact__adress">
                        <li>
                            <a class="contact__adress__iten" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contact__adress__iten" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>

                </div>
            </li>
            <li>
                <button>Our Locations</button>
            </li>
            <li>
                <button>Franchise</button>
            </li>
        </ul>
    </div>
</section>