<section class="reviews">
    <div class="container"></div>
    
        <img src="" alt="улыбающийся клиент" width="85" height="85" class="reviews__photo">
        <div class="reviews__box">
            <p class="reviews__box--text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <p class="reviews__box--location">
                Emily, Los Angeles
            </p>
        </div>

    </div>
</section>