<footer>
    <div class="container">
        <div class="footer">
            <ul class="footer__title">
                <li class="footer__text">
                    <p class="footer__ice">homemade ice cream made</p>
                    <p class="footer__cream">with passion</p>
                </li>
            </ul>
        </div>
        <div class="footer__info">
            <ul class="footer__icon">
                <li>
                    <a class="footer__page" href=""><svg>
                        <use href=""></use>
                    </svg></a>
                </li>
                <li>
                    <a class="footer__page" href=""><svg>
                        <use href=""></use>
                    </svg></a>
                </li>
                <li>
                    <a class="footer__page" href=""><svg>
                        <use href=""></use>
                    </svg></a>
                </li>
            </ul>
            <p class="footer__info">Feel free to contact
                <a class="footer_phone" href="tel:+610383766284">+61 (0) 383 766 284</a>
            </p>
        </div>
        <hr>
        <div class="footer__post">
            <ul class="footer__script">
                <li>
                    <p class="footer__rights">2019 - IceCream. All Rights Reserved.</p>
                </li>
            </ul>
        </div>
    </div>
</footer>
