<header class="header">
    <div class="container">
        <div class="circle"></div>
        <div class="background">
            <img class="background__images" src="./images/hero_icecream.png" alt="" />
        </div>
        <div class="header">
            <nav class="header__nav">
                <a href="./index.html">
                    <img class="header__logo" src="./images/logotype.png" alt="" /></a>
                <div class="burger">
                    <button class="header__burger">
                        <svg class="header__burger_icon" height="12px" width="20px">
                            <use href="./images/svg/symbol-defs.svg#icon-Burger"></use>
                        </svg>
                    </button>
                </div>
            </nav>
            <div class="hero">
                <h1 class="hero__title primary-title">
                    ice cream
                    <p class="hero__title__text">made with</p>
                    <p class="hero__title__redtext">passion</p>
                </h1>
                <button href="" type="button" class="hero__btn btn--red">Products</button>
                <button href="" type="button" class="hero__btn btn--white">
                    How it’s made?
                </button>
            </div>
        </div>
    </div>
</header>