<div class="modal">
    
  <button class="modal__btn-close">
    <svg class="icon-close" width="14" height="14">
      <use href="./images/svg/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <button class="modal__btn-buy">
    Buy now<svg class="icon-right-check" width="12" height="10">
      <use href="./images/svg/symbol-defs.svg#icon-right-check"></use>
    </svg>
  </button>
  <ul class="modal__nav">
    <li class="modal__nav__item">
      <a href="" class="modal__nav__item__link curent">Home</a>
    </li>
    <li class="modal__nav__item">
      <a href="" class="modal__nav__item__link">About us</a>
    </li>
    <li class="modal__nav__item">
      <a href="" class="modal__nav__item__link">How it’s made?</a>
    </li>
    <li class="modal__nav__item">
      <a href="" class="modal__nav__item__link">Our products</a>
    </li>
    <li class="modal__nav__item">
      <a href="" class="modal__nav__item__link">Contact</a>
    </li>
  </ul>
</div>