<section class="products">

    <div class="container">

        <p class="products__text">100% natural</p>
        <h2 class="products__title primary-title ">products</h2>
<ul class="card">
        <li class="card card__cream">
            
            <h3 class="card__title">ice cream</h3>
            <span class="card__points"></span>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class=""></button>
        </li>
        <li class="card card__coffee">
            <h3 class="card__title">ice coffee</h3>
            <span class="card__points"></span>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button></button>
        </li>
        <li class="card card__milkshakes">
            <h3 class="card__title">milkshakes</h3>
            <span class="card__points"></span>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button></button>
                </li>
        </ul>
    </div>
</section>